{{!-- 
<SignupForm>

</SignupForm> --}}

<body>

        <div class="logo">
            <div class="netflix">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3>ZOHO LIBRARY PORTAL</h3>
            <LinkTo @route="signup">
            <button class="info" type="button"> Register</button>
            </LinkTo>

            <LinkTo @route="signin">
            <button class="info2" type="button"> Sign In</button>
            </LinkTo>
        </div>
        
        
</body>